body {
    padding: 0px 0px;
    font-size: 14px;
    margin: 0px auto;
    text-align: center;
}

#content {
    padding-top: 40px;
}

.title {
    text-align: center;
    margin: 0 0 10px 0;
    color: #999;
}

#btns-getInfo {
    margin-top: 20px;
    height: 60px;
}

.btn-info {
    float: left;
    margin: 0 0px 0 60px;
}

.btn-info-actived{
    background: #37AAEB;
    color: #ECF6F9;
}