body {
    padding: 0px 0px;
    font-size: 14px;
    margin: 0px auto;
    text-align: center;
}

#content {
    padding-top: 40px;
}

#goodsId, #ftime {
    background: darkseagreen;
    border: none;
    font-size: 20px;
    color: #C13EA0;
}

.title {
    text-align: center;
    margin: 0 0 10px 0;
    color: #999;
}

#btns-getInfo {
    margin-top: 20px;
    height: 60px;
}

.btn-info {
    float: left;
    margin: 0 0px 0 60px;
}

.btn-info-actived {
    background: #37AAEB;
    color: #ECF6F9;
}

#loading {
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    text-indent: 10px;
    color: #666;
}

/**物品编辑器**/
#editor-backup{
    width: 100%;
    height: 100%;
    position: absolute;
    top:40px;
    background: darkgray;
    opacity: 0.4;
}
#editor {
    border: 1px solid black;
    background: darkseagreen;
    margin-top: 3px;
    width: 500px;
    position: absolute;
    top:40px;
    left:50%;
    margin-left:-250px;
    z-index: 3;  /* 高于掩盖层 */
}

#cancelSubmit {
    left: 20%;
    position: absolute;
}

#formSubmit {
    right: 20%;
    position: absolute;
}
