body {
    padding: 0 0px 10px 0;
    font-size: 14px;
    margin: 0px auto;
    text-align: center;
    font-family: '微软雅黑';
}

label {
    display: inline-block;
    padding-top: 15px;
}

select {
    width: 100px;
    margin: 0 10px 0 50px;
}

div input {
    line-height: 26px;
}

textarea {
    margin-top: 5px;
}

input, textarea {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #efefef;
}

input:focus, textarea:focus {
    border: solid 2px orange;
}

#content {
    padding-top: 40px;
}

/*
.title {
    position: fixed;
    float: left;
    width: 30px;
    padding: 0px 30px;
    margin: 0 0 0 30px;
    background-color: #eeeeee;
    color: #c5c5c5;
}
*/
.title {
    text-align: center;
    margin: 0 0 10px 0;
    color: #999;
}

#goodstitle {
    padding: 10px 0;
}

#goodstitle textarea {
    width: 400px;
    height: 100px;
}

.must-star {
    color: red;
    font-size: 15px;
}

.description textarea {
    width: 400px;
    height: 50px;
}

#realPrice {
    padding: 20px 0;
}

#realPrice input, #coupon input {
    width: 50px;
}

.price {
    display: inline-block;
    margin-right: 30px;
}

/* 图片处理 */
#picDiv {
    display: inline-block;
    width: 80%;
    height: 180px;
    border: solid 2px gainsboro;
    padding-top: 3px;
}
#previewPic{
    width: 100%;
    padding-top: 15px;
    height: 150px;
}
.thumb-warpper{
    display: inline-block;
    margin:0 2px;
    padding-top: 10px;
    position: relative;
}
#thumb-delete{
    display: block;
    position: absolute;
    width: 15px;
    height:15px;

    top: 0px;
    right: 0px;
    background: #fff;
    border:2px solid red;
    border-radius: 50%;
}

#thumb-delete:hover{
    background: red;
}

.thumbnail {
    display: block;
    height: 120px;
    width: 100px;
    border:dashed 1px darkcyan ;
}

/* 提交按钮 */
.submitButton {
    margin-top: 20px;
    /*margin-left: 300px;*/
    width: 100%;
    height: 36px;
    position: relative;
}

.submitButton input{
    width: 100px;
    height: 32px;
}


#formSubmit{
    right: 45%;
    position: absolute;
}

#loading {
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    text-indent: 10px;
    color: #666;
}
