
<script type="text/javascript" src="/js/other/jquery-3.1.0.js"></script>
<script type="text/javascript" src="/jquery-ui/jquery-ui.js"></script>

<script src="/js/index/index.js"></script>
</body>

</html>