<!DOCTYPE html>
<html>

<header>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>CC优惠购</title>

    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="/images/index/favicon.ico" rel="shortcut icon" type="image/x-icon">
</header>

<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-list">
                <span class="sr-only">导航条</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  href="#">
                分类
            </a>
        </div>

        <div class="collapse navbar-collapse" id="main-nav-list">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">最新推荐</a></li>
                <li><a href="#">女装</a></li>
                <li><a href="#">男装</a></li>
                <li><a href="#">化妆品</a></li>
                <li><a href="#">吃喝</a></li>
                <li><a href="#">生活</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        其它 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </li>
            </ul>

            <!--form class="navbar-form navbar-right" role="search" style="margin: 0px; padding: 0px; width: 200px">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
            </form-->
        </div>


    </div>

</nav>

<section style="margin-top: 55px">

</section>

<body>