<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>CC优惠购</title>

    <link rel="stylesheet" type="text/css" href="/jquery-ui/jquery-ui.css">

</head>

<body>