<%- include header1.ejs%>

<link rel="stylesheet" type="text/css" href="css/nav/demo-1.css">
<link rel="stylesheet" type="text/css" href="css/index/index.css">

<div class="wrapper">
    <div class="menu">
        <img id="menu-bg" src="" />
        <ul>
            <li class="active"><a href="#">最新推荐</a></li>
            <li><a href="#">男装</a></li>
            <li><a href="#">女装</a></li>
            <li><a href="#">化妆品</a></li>
            <li><a href="#">其它</a></li>
        </ul>
    </div>

    <div class="screen">
        <!--导航条-->
        <div class="navbar">
            <div class="burger">
                <div class="x"></div>
                <div class="y"></div>
                <div class="z"></div>
            </div>
            <!--用户按钮-->
            <div id="btn-user-img">
                <div id="user-img-inactive"></div>
                <div id="user-img-active"  style="display: none"></div>
            </div>
        </div>

        <div id="list-container">
            <div class="goods-container">
                <%- include goodinfo.ejs %>
            </div>
        </div>
        <div id="userInfo" style="display: none;">
            <%- include user.ejs %>
        </div>
    </div>

</div>

<script type="text/javascript" src="/js/other/jquery-3.1.0.js"></script>
<script type="text/javascript" src="/jquery-ui/jquery-ui.js"></script>

<script src="/js/index/index.js"></script>
<script src="/plugins/clipboard.min.js"></script>

<%- include footer.ejs%>

