extends layout

block content
  head
    h1= title
    p 天猫店、皇冠店和极有家等淘宝内部优惠购物推广平台
    p 欢迎来到 #{title}

    link(rel='stylesheet',href='stylesheets\style.css')

  body
    div#logo
      img(src='images/log.jpg')
      br
      img(src='images/2D.jpg')
