<%- include header1.ejs%>
<link rel="stylesheet" type="text/css" href="datatables/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="css/upload/info.css">

<%- include storeNav.ejs%>

<div id="content">
    <h1 class="title">
        物品查询系统
    </h1>

    <div id="btns-getInfo">
        <div class="btn-info">
            <button id="btn-getInfo">请求数据</button>
        </div>
        <div class="btn-info">
            <button id="btn-delRow">多选</button>
        </div>
        <div class="btn-info">
            <button id="btn-clearSel" disabled>取消选择</button>
        </div>
    </div>

    <table id="table-goods-list" class="display"></table>
</div>

<script type="text/javascript" src="/js/other/jquery-3.1.0.js"></script>
<script type="text/javascript" src="/jquery-ui/jquery-ui.js"></script>

<script type="text/javascript" src="datatables/datatables.min.js"></script>
<script type="text/javascript" src="js/upload/info.js"></script>


<%- include footer.ejs%>