<%- include header1.ejs%>
<link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>

<table id="table_id" class="display"></table>


<%- include footer.ejs%>

<script type="text/javascript" src="DataTables/datatables.min.js"></script>
<script type="text/javascript" src="js/upload/info.js"></script>