<%- include header1.ejs%>

<link rel="stylesheet" type="text/css" href="/css/nav/demo-1.css">
<link rel="stylesheet" type="text/css" href="/css/index/index.css">

<div class="wrapper">
    <div class="menu">
        <img id="menu-bg" src="" />
        <ul>
            <li class="active mainKey"><a>最新</a></li>
            <li class="mainKey"><a>火爆</a></li>
            <% for(let m_key in navJson){ %>
            <!-- 一级分类 -->
            <li class="mainKey"><a><%- m_key %></a>
                <!--二级分类-->
                <% if(navJson[m_key]){ %>
                <ul style="display: none;">
                    <li class="subKey1 list-all"><a>全部</a></li>
                    <% for(let s_key1 in navJson[m_key]){ %>
                    <li class="subKey1"><a><%- s_key1 %></a></li>
                    <% } %>
                </ul>
                <% } %>
            </li>
            <% } %>
        </ul>
    </div>

    <div class="screen">
        <!--导航条-->
        <div class="navbar">
            <div class="burger">
                <div class="x"></div>
                <div class="y"></div>
                <div class="z"></div>
            </div>
            <!--用户按钮-->
            <div id="btn-user-img">
                <div id="user-img-inactive"></div>
                <div id="user-img-active"  style="display: none"></div>
            </div>
        </div>

        <!--登陆-->
        <div id="loginForm">
            <h2>登陆</h2>
            <form id="form-login">
                <div class="login-username">
                    <span>用户名:</span>  <input type="text" name="username">
                </div>
                <div class="login-password">
                    <span>密码&nbsp;&nbsp;&nbsp;:</span> <input type="password" name="password">
                </div>
                <div class="form-btn">
                    <span value="登陆" id="btn-login-submit">登陆</span>
                    <span class="login-reg">注册</span>
                </div>
            </form>
            <div class="login-result"></div>
        </div>

        <!--注册-->
        <div id="regForm" style="display: none;">
            <h2>账号注册</h2>
            <form id="form-reg">
                <div class="login-username">
                    <span>用户名:</span> <input type="text" name="username">
                </div>
                <div class="login-password">
                    <span>密码&nbsp;&nbsp;&nbsp;:</span> <input type="password" name="password">
                </div>
                <div class="sex">
                    <input type="radio" name="sex" value="0" checked>男
                    <input type="radio" name="sex" value="1">女
                </div>
                <div class="form-btn">
                    <span id="btn-reg-submit">注册</span>
                    <span class="reg-login">登陆</span>
                </div>
            </form>
            <div class="reg-result"></div>
        </div>

    </div>

</div>

<script type="text/javascript" src="/js/other/jquery-3.1.0.js"></script>
<script type="text/javascript" src="/jquery-ui/jquery-ui.js"></script>

<script src="/js/index/index.js"></script>
<script src="/plugins/clipboard.min.js"></script>

<%- include footer.ejs%>

