<link rel="stylesheet" type="text/css" href="css/nav/storeNav.css">
<div class="navbar">
    <ul>
        <a href="/upload" class="navClick">
            <li>物品上传</li>
        </a>
        <a href="/info" class="navClick">
            <li>物品展示</li>
        </a>
    </ul>
</div>
