/*************************************************/
/* 管理系统导航条 */
div.navbar{
    height:37px;
    width: 100%;
    margin-bottom: 0px;
    background:#eee;
    position: fixed;
    z-index: 999;
}

.navbar ul{
    padding:0;
    margin:0;
    list-style-type: none;
    text-align: left;
    overflow:hidden;
}

.navbar a{
    float: left;
    display: inline;
    line-height:36px;
    font-size: 22px;
    padding:0 40px;

    height: 36px;
}

.navbar li{
    font-weight:bolder;
    color: inherit;
}

.navbar  a:link,
.navbar  a:visited{
    text-decoration:none;
    color: #2fa8ec;
}

.navbar a:focus,
.navbar a:active
{
    background-color: #555;
    color: #fcf8e3;
    border-radius: 4px;
}

.activeNav{
    /*border: solid 1px;*/
    border-radius: 4px;
    background-color: #555;
}
